.info{
    text-align: left;
}
.full-name{
    font-size: 1rem;
    color: #ffffff;
}
.lastmessage{
    font-size: 1rem;
    color:#999999 ;
    margin: 0; 
}
.chatname-time{

    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 10px ;
}

.avatar{
    float: left;
    padding: 10px;
    height: 54px;
    width: 54px;
    border-radius: 50%;
}
.chats{
    width: 100%;
    margin-top: 20px;
    height: 100%;
    overflow-y: none;
}

.chats:hover{
    overflow-y: scroll;
}
.chats:hover > .chat{
    width: 100%;
}
.chat:hover{
    background-color: #4c4c4c;
}
.chat{
   width: calc(100% - 10px);
    border-radius: 15px;
    
    padding-bottom: 12px;

}

.time{
    padding: 0;
    margin: 0;
    color: #999999;
}
.subtitle{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 20px 0 10px;
    
}
.count{
    color: #ffffff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    font-size: 15px;
    background-color:#8774e1;
}

.profiles{
    position: relative;
    background-color: #212121;
    height:100vh;
    margin: 0;
    padding: 0;
    width: calc(30% - 1px);
    /* overflow-y:hidden;
    overflow-x: hidden; */
    border-right: 1px solid #303030;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track{
    background:#4c4c4c ;
} 
::-webkit-scrollbar-thumb{
    background-color: #919191;
    border-radius: 10px ;
}   
  
.profiles:hover{
    /* overflow-y: scroll; */
    margin: 0;
}
.opened-chat{
    background-color: #8774e1;
}

